@import "./utils/variables";
@import "./base/fonts";

* {
    margin: 0px;
    padding: 0px;
    font-family: "Roboto-Regular", sans-serif;
    text-decoration: none;
    color: black;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: $background-colour-primary;

    h1 {
    display: flex;
    background-color: white;
    font-family: "Shrikhand-Regular", sans-serif;
    font-size: 40px;
    color: black;
    justify-content: center;
    padding: 20px 0px 10px 0px ;
    box-shadow: -1px 4px 5px rgba(0, 0, 0, 0.155);

    }

    .bloc {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    padding: 20px 0px 20px 0px ;
    background-color: $background-colour-primary;

        &__center {
            display: flex;
            position: relative;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 300px;

            &__icon {
                position: absolute;
                left: 40px;
            }
    }
    }
}


.sectionhead {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: $background-colour-secondary;
    height: 300px;
    
    h2 {
        font-size: 30px;
        width: 80%;
        padding-top: 40px;
    }

    &__text {
        font-size: 20px;
        padding-top: 20px;
    }

    &__btn {
        color: white;
        border-radius: 30px;
        margin-top: 35px;
        padding:  15px 20px 15px 20px;
        background: rgb(255,121,218);
        background: linear-gradient(180deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%);
        box-shadow: 2px 6px 11px 0px rgba(0, 0, 0, 0.252) ;

    }
}
.sectionmiddle {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        font-size: 30px;
        width: 90%;
        padding-top: 35px;
    }
    &__blocTop {
        position: relative;
        display: flex;
        font-style: bold;
        align-items: center;
        background-color: $background-colour-secondary;
        margin-top: 20px;
        padding: 20px;
        width: 83%;
        border-radius: 15px;
        
        .number {
            font-size: 12px;
            color: white;
            position: absolute;
            left: -10px;
            border-radius: 50%;
            background-color: $colour-primary;
            padding: 5px 9px;
        }
        #iconMobile{
            font-size: 20px;
            position: absolute;
            margin: 15%;
            left: -15px;

            color:#6f6f6f;
        }
        p {
            margin: auto;
        }
    }
    &__blocMiddle {
        position: relative;
        display: flex;
        font-style: bold;
        align-items: center;
        background-color: $background-colour-secondary;
        margin-top: 20px;
        padding: 20px;
        width: 83%;
        border-radius: 15px;
        
        .number {
            font-size: 12px;
            color: white;
            position: absolute;
            left: -10px;
            border-radius: 50%;
            background-color: $colour-primary;
            padding: 5px 9px;
        }
        .iconMenu {         font-size: 18px;
            position: absolute;
            margin: 15%;
            left: -15px;

            color:#6f6f6f;

        }
        p {
            margin: auto;
        }
    }
    &__blocBottom {
        position: relative;
        display: flex;
        font-style: bold;
        align-items: center;
        background-color: $background-colour-secondary;
        margin-top: 20px;
        padding: 20px;
        width: 83%;
        border-radius: 15px;
        
        .number {
            font-size: 12px;
            color: white;
            position: absolute;
            left: -10px;
            border-radius: 50%;
            background-color: $colour-primary;
            padding: 5px 9px;
        }
        #iconStore{
            font-size: 20px;

            position: absolute;
            margin: 15%;
            left: -15px;

            color:#6f6f6f;
        }
        p {
            margin: auto;
        }
    }
    
}
.sectionbottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    background-color: $background-colour-secondary;
    height: 1430px;
    h2 {
        font-size: 30px;
        width: 90%;
        padding-top: 40px;
        margin-bottom: 20px;
    }
    &__firstcard {
        position: relative;
        background-color: white;
        height: 300px;
        width: 90%;
        border-radius: 15px;

        .image {
            position: relative;
            height: 200px;
            background-image: url("../../assets/images/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
            background-size: 115%;
            background-position: bottom -60px right -20px;
            border-radius: 15px 15px 0px 0px;
            span {
                position: absolute;
                right: 15px;
                top: 15px;
                color: green;
                background-color: rgb(154, 255, 154);
                padding: 5px 10px;
                border-radius: 5px;
            }
        }
        h3 {
            margin: 20px 0px 0px 15px;
        }
        p {
            margin: 5px 0px 20px 15px;
            font-size: 18px;
        }
        i {
            position: absolute;
            right: 30px;
            bottom: 35px;
            font-size: 30px;
        }

    }
    &__secondcard {
        position: relative;
        margin-top: 20px;
        background-color: white;
        height: 300px;
        width: 90%;
        border-radius: 15px;

        .image {
            position: relative;
            height: 200px;
            background-image: url("../../assets/images/stil-u2Lp8tXIcjw-unsplash.jpg");
            background-size: 115%;
            background-position: bottom -130px right -20px;
            border-radius: 15px 15px 0px 0px;
            span {
                position: absolute;
                right: 15px;
                top: 15px;
                color: green;
                background-color: rgb(154, 255, 154);
                padding: 5px 10px;
                border-radius: 5px;
            }
        }
        h3 {
            margin: 20px 0px 0px 15px;
        }
        p {
            margin: 5px 0px 20px 15px;font-size: 18px;
        }
        i {
            position: absolute;
            right: 30px;
            bottom: 35px;
            font-size: 30px;
        }
    
    }
    &__thirdcard {
        position: relative;
        margin-top: 20px;
        background-color: white;
        height: 300px;
        width: 90%;
        border-radius: 15px;

        .image {
            position: relative;
            height: 200px;
            background-image: url("../../assets/images/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
            background-size: 115%;
            background-position: bottom -60px right -20px;
            border-radius: 15px 15px 0px 0px;
        }
        h3 {
            margin: 20px 0px 0px 15px;
        }
        p {
            margin: 5px 0px 20px 15px;
            font-size: 18px;
        }
        i {
            position: absolute;
            right: 30px;
            bottom: 35px;
            font-size: 30px;
        }

    }
    &__fourthcard {
        position: relative;
        margin-top: 20px;

        background-color: white;
        height: 300px;
        width: 90%;
        border-radius: 15px;

        .image {
            position: relative;
            height: 200px;
            background-image: url("../../assets/images/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
            background-size: 115%;
            background-position: bottom -60px right -20px;
            border-radius: 15px 15px 0px 0px;
        }
        h3 {
            margin: 20px 0px 0px 15px;
        }
        p {
            margin: 5px 0px 20px 15px;
            font-size: 18px;
        }
        i {
            position: absolute;
            right: 30px;
            bottom: 35px;
            font-size: 30px;
        }

    }
    
}    

footer {
    background-color: rgb(56, 56, 56);
    height: 230px;
    color: white;

    #title {
        font-family: "Shrikhand-Regular";
        font-size: 23px;
        padding: 30px 0px 20px 35px;
        color: white;



    }
    p {
        padding-left: 35px;
        margin-top: 5px;
        font-size: 18px;
        color: white;



        i{
            margin-right: 10px;
            color: white;

        }
    }

}

@media (min-width: 991px) {
    .sectionhead {
    
        height: 250px;
    }
    .sectionmiddle {
        position: relative;
        width: 100%;
        margin-top: 50px;
        flex-direction: row;
        h2 {
            position: absolute;
            width: 220px;
            padding-top: 55px;
            top: -90px;
            left: 50%;
            transform: translate(-50%);
        }
        &__blocTop {
            margin: 0px 20px 0px 40px;
        }
        &__blocMiddle {
            margin: 20px;
        }
        &__blocBottom {
            margin: 0px 40px 0px 20px;
        }
    }
    .sectionbottom {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;
        flex-wrap: wrap;
        margin-top: 30px;
        height: 800px;

        .sectionbottom__cards {
            max-width: 45%;
            margin: 0px;
            top: -10px;
        }
        h2 {
            margin: 0px;
        }
    }
}


