@import "./utils/variables";
@import "./base/fonts";

* {
    margin: 0px;
    padding: 0px;
    font-family: "Roboto-Regular", sans-serif;
    text-decoration: none;
    color: black;
}

header {
    display: flex;
    flex-direction: column;

    h1 {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    background-color: white;
    font-family: "Shrikhand-Regular", sans-serif;
    font-size: 35px;
    font-weight: normal;
    color: black;
    justify-content: center;
    padding: 20px 0px 10px 0px ;
    box-shadow: -1px 4px 5px rgba(0, 0, 0, 0.155);
    a {
        position: absolute;
        left: 15px;
        font-size: 27px;
    }
    }
    .imageHeader {
        height: 300px;
        background-image: url("../../assets/images/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
        background-size: cover;
    }
}

// main {
//     position: relative;
//     background-color: $background-colour-primary;
//     height: 50px;
// }

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: $background-colour-secondary;
    height: 1260px;
    width: 100%;
    top: -60px;
    border-radius: 50px 50px 0px 0px ;

    h2 {
        width: 85%;
        display: flex;
        font-family:"Shrikhand-Regular", sans-serif;
        font-size: 28px;
        font-weight : normal;
        margin: 0px 20px 0px 20px;
        padding-top: 30px;
        justify-content: space-between;

    }

    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 95%;

        .title {
            margin: 20px 0px 25px 0px;  
            width: 90%;
            color: rgb(85, 85, 85);
            span {
                padding-bottom: 5px;
                color: rgb(85, 85, 85);
                border-bottom: solid;
                border-color: $colour-tertiary;
            }
        }
        .plats {
            position: relative;
            background-color: white;
            border-radius: 15px;
            width: 88%;
            padding: 13px;
            box-shadow: 2px 6px 20px 0px rgba(0, 0, 0, 0.101);
            margin-bottom: 20px;
            .description {
                box-sizing: border-box;
                margin-top: 5px;
                display: flex;
                justify-content: space-between;
                transition: margin-right 250ms; 

                p {
                    display: block;
                    height: 20px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
 
                }
                
                .price {
                    margin-right: 5px;
                    font-weight: bold;
                    margin-left: 2px;
                }
            }
            &:hover {
                .anim {
                    transform: scaleX(1);

                }
                .anim i {
                    transform: rotate(0deg)
                }
                .description {
                    margin-right: 90px;
                }

            }
            .anim {
                display: flex;
                border-radius: 0px 15px 15px 0px;
                width: 90px;              
                height: 100%;
                position: absolute;
                top: 0px;
                right: 0px;
                margin: auto;
                justify-content: center;
                align-items: center;
                transform-origin: right;
                transform:scaleX(0);
                background-color: $colour-tertiary;
                transition: transform 250ms ease-in-out;

                i {
                    font-size: 35px;
                    color: white;
                    transform:rotate(-360deg);
                   transition: transform 300ms ease-in-out;
                }
            }
            }
        #plat1 {
            animation : apparition 1s ease-out;
        }
        #plat2 {
            animation : apparition 1.3s ease-out;
        }
        #plat3 {
            animation : apparition 1.6s ease-out;
        }
        #plat4 {
            animation : apparition 1.8s ease-out;
        }
        #plat5 {
            animation : apparition 2s ease-out;
        }
        #plat6 {
            animation : apparition 2.2s ease-out;
        }
        #plat7 {
            animation : apparition 2.4s ease-out;
        }
        #plat8 {
            animation : apparition 2.6s ease-out;
        }
        #plat9 {
            animation : apparition 2.8s ease-out;
        }
        @keyframes apparition {
            0% {
                opacity: 0;
                transform: translateY(50px);
            }
            45% {
                opacity: 0;
            }
            65% {              
                opacity: 1;
            }
            100% {
                transform: translateY(0px);
            }
        }
    }
    .btn {
        display: flex;
        justify-content: center;
        color: white;
        border-radius: 30px;
        margin-top: 35px;
        padding:  15px 20px 15px 20px;
        background: rgb(255,121,218);
        background: linear-gradient(180deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%);
        box-shadow: 2px 6px 11px 0px rgba(0, 0, 0, 0.252) ;
        width: 40%;

    }    
}
footer {
    background-color: rgb(56, 56, 56);
    height: 200px;
    color: white;
    margin-top: -60px;

    #title {
        font-family: "Shrikhand-Regular";
        font-size: 18px;
        padding: 30px 0px 10px 25px;
        color: white;



    }
    p {
        padding-left: 25px;
        margin-top: 5px;
        font-size: 15px;
        color: white;



        i{
            margin-right: 10px;
            color: white;

        }
    }

}